html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #616161;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  color: #eeeeee;
}

#game {
  position: absolute;
  top: 0;
  height: calc(100% - 20px);
  left: calc(50% - 210px);
  width: 400px;
  padding: 10px;
  background: #e0e0e0;
}

#game.faded-out {
  filter: blur(1px);
}

.button {
  background: #ff8f00;
  display: inline-block;
  margin-left: 4px;
  line-height: 48px;
  padding: 0 10px;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px #a8a8a8;
}

.color-button {
  display: inline-block;
  width: 48px;
  margin: 1px;
  border-radius: 25px;
}

.color-button-selected {
  border-radius: 5px;
}

.button,
.color-button {
  cursor: pointer;
  height: 48px;
}

#message {
  position: absolute;
  height: 160px;
  width: 360px;
  padding: 20px;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
  display: none;
  background: rgba(255, 134, 0, 0.8);
}

#message .button {
  background: #eeeeee;
  color: #ff8f00;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#message.msg-active {
  display: block;
}
